.data-table-box {
  height: 400px;
  width: 100%;
  text-align: left;

  .delete-button {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}
